{% extends "base.html" %}

{% block head_title %}Pregled naslova za dostavo in izdajo računa || {{ block.super }}{% endblock head_title %}


{% block content %}
{% load crispy_forms_tags %}

<div class="alert alert-danger" role="alert">
        <span id="alert-msg"></span>
    </div>

<h3>Izberi prevzemno mesto</h3>

{%for distributer in distributers %}
<div class="radio">
    <label>
        <input type="radio" name="distributer-radio" value="{{ distributer.pk }}">
        {{distributer.user.address}} {% if distributer.user.district %} ({{ distributer.user.district }}) {% endif %}, {{distributer.user.city}}
    </label>
    </div>
{% endfor %}
<br>

<h3>Naslov za račun</h3>
{% if object.userbillingaddress_set.count == 0 %}
<p>Nimate naslova za izdajo računa. Dodaj nov naslov.</p>

{% else %}
{% for address in object.userbillingaddress_set.all %}
<div class="radio">
    <label>
        <input type="radio" name="billing-radio" value="{{ address.pk }}"> {{ address.name}} {{ address.surname}} - 
        {{ address.street_name}} {{ address.street_nr}}, {{ address.zip_code}} {{ address.city}} 
        {% if address.vat_nr %}
        (Davčni zavezanec: {% if address.vat_taxpayer %} Da {% else %} Ne {% endif %}, davčna: {{ address.vat_nr }} )
        {% endif %}
    </label>
</div>
{% endfor %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj naslov za izdajo računa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'orders_address' %}" method="post">
                <div class="modal-body">
                <input type="hidden" name="form-type" value="billing">
                {% csrf_token %}
                {{ billing_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zapri</button>
                    <button type="submitt" class="btn btn-primary">Shrani spremembe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#billingModal">
    Dodaj nov naslov za račun
</button>

<br>
<br>
<table class="table">
    <tr>
        <td colspan='6' class='text-right'>
            <a class='btn btn-secondary' href="{% url 'cart' %}">Nazaj na košarico</a>
            <a class='btn btn-warning' id ="next-step" href="#">Naprej na pregled naročila</a>
        </td>
    </tr>
</table>

{% endblock content %}

{% block jquery %}
$(".alert").hide();
$("#next-step").click(function(){
    var distributer = $("input[name=distributer-radio]:checked").val()
    console.log(distributer)
    var billing = $("input[name=billing-radio]:checked").val()
    if (distributer && billing) {
        url = "{% url 'orders_prepare' %}?distributer=" + distributer + "&bill_addr=" + billing
        window.location.replace(url)
    }
    else {
        $("#alert-msg").text("Izberi naslov za prevzem in izdajo računa.");
        if (distributer) $("#alert-msg").text("Izberi naslov za izdajo računa.");
        if (billing) $("#alert-msg").text("Izberi naslov za prevzem.");
        $(".alert").show()
    }
})

{% endblock jquery %}
