{% extends "base.html" %}

{% block content %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Podatki    <span style="font-size: 12px;"><a href="{% url 'users:edit' %}">Uredi podatke</a></span></h3>
    Uporabniško ime: <span>{{ user.username }}</span><br />
    Naslov: <span>{{ user.address }}</span><br />
    Mesto: <span>{{ user.city }}</span><br />
    Četrtna skupnost: <span>{{ user.district }}</span><br />
    Telefonska št.: <span>{{ user.phone_nr }}</span><br />

    <hr>
{% endblock %}