{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if form.errors %}
<p>Uporabniško ime in geslo se ne ujemata.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Uporabniški račun nima pravic za ogled te strani. Prijavite se z drugim uporabniškim računom.</p>
    {% else %}
    <p>Prijavite se za ogled vsebine.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy }}

<input type="submit" value="Prijava" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Ste pozabili uporabniško ime ali geslo? Kliknite <a href='{% url 'password_reset' %}'>tukaj</a>.</p>

{% endblock %}