{% extends "base.html" %}

{% block head_title %}Vsa naročila || {{ block.super }}{% endblock head_title %}



{% block content %}
{% if all %}
{% include 'management/filter_form.html' with dest='deliveries_all' %}
{% else %}
{% include 'management/filter_form.html' with dest='deliveries' %}
{% endif %}

{{zaboj_deliveries}}

<table class="table table-striped table-responsive table-sm">
    <tr>
        <td><a href="?orderby=user">Username</a></td>
        <td><a href="?orderby=quantity">Količina</a></td>
        <td>Opombe</td>
        <td>Datum</td>
        <td>Distributer</td>
        <td>Zabeleži dostavo</td>
    </tr>
    {% for package in object_list %}
        <tr>
            <td>{{ package.order.user.username }}</td>
            <td>{{ package.order.quantity }}</td>
            <td>{{ package.distribution_notes }}</td>
            <td>{{ package.created|date }}</td>
            <td>{{ package.assign_to }}</td>
            {% if package.id in zaboj_deliveries %}
            <td>za popravek dostave kontaktiraj skrbnika</td>
            {% else %}
            <td><a href="{% url 'deliver' package=package.id %}">zabeleži</a></td>
            {% endif %}
        </tr>
    {% empty %}
        <p>No deliveries yet.</p>
    {% endfor %}
</table>

{% endblock  %}
