<form method="get" action="{% url dest %}" class="form-inline mb-3">
    <div class="form-check mb-3 mr-sm-2 mb-sm-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="show_processed" value="1" {% if show_processed %}checked{% endif %}>   Pokaži sprocesirane
        </label>
        {% if dest == 'deliveries' %}
        <label class="form-check-label">
                <input class="form-check-input ml-3" type="checkbox" name="show_all" value="1" {% if show_all %}checked{% endif %}>   Pokaži dostave vseh distributerjev
        </label>
        {% endif %}
    </div>
    <input type="submit" value="Prikaži" class="form-control btn btn-outline-primary ml-3" />    </form>
</form>