{% extends "base.html" %}

{% block head_title %}Vsa naročila || {{ block.super }}{% endblock head_title %}



{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
  });
} );
</script>

<form method="get" action="{% url 'orders' %}">
        Pokaži sprocesirane: <input type="checkbox" name="show_processed" value="1" {% if show_processed %}checked{% endif %}>  
        <p><input type="submit" name="submit" value="submit"/></p>
    </form>

<table>
    <tr>
        <td><a href="?orderby=user">Username</a></td>
        <td><a href="?orderby=quantity">Količina</a></td>
        <td>Opombe</td>
        <td>Datum</td>
        <td>Sprocesiraj</td>
    </tr>
    {% for order in object_list %}
        <tr>
            <td>{{ order.user.username }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.notes }}</td>
            <td>{{ order.created|date }}</td>
            {% if order.id in zaboj_productions %}
            <td><a href="{% url 'update_process' order=order.id %}">uredi</a></td>
            {% else %}
            <td><a href="{% url 'process' order=order.id %}">sprocesiraj</a></td>
            {% endif %}
        </tr>
    {% empty %}
        <p>No orders yet.</p>
    {% endfor %}
</table>

{% endblock  %}
