{% extends "base.html" %}

{% block head_title %}Pregled izdelka || {{ block.super }}{% endblock head_title %}


{% block content %}
<div class="container" style="width:100%">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p id="alert-message"></p>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div>
            {% if product.productimage_set.count > 0 %}
                {% for image in product.productimage_set.all %}
                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.title }}">
                {% endfor %}
            {% endif %}
        </div>
        <h2>{{ product.title }}</h2>
        <P>{{ product.description }}</P>
    </div>
    <!-- Stranska vrstica - produkt -->
    <div class="col-4">
            {% if product.variation_set.count > 1 %}
            <h3 id="price">{{ product.price }}€</h3><span class="zaloga"></span><br>
            {% for group in product.option_groups.all %}
                <h4>{{ group.display_name }}</h4>
                <select name="{{ group.display_name }}" class="form-control" id="select-variation-{{ group.pk }}">
                <option value="">-----</option>
                {% for option in group.options.all %}
                    <option value="{{ option.pk }}">{{ option.display_name }}</option>
                {% endfor %}
                </select><br>
            {% endfor %}
            <input type="hidden" id="variation" value="">
            {% else %}
            <h3 id="price">{{ product.price }}€</h3>
            <input type="hidden" id="variation" value="{{ product.variation_set.first.id }}">
            {% endif %}
            <br>
            <input class="form-control" type="number" value="1" id="qty" />
            <br>
            <input type="submit" id="add-cart" class="btn btn-default" value="Add to cart">
        <hr>
        <h6>Drugi so kupili še:</h6>
    </div>    
    <!-- End Stranska vrstica - produkt -->
</div>

{% endblock %}

{% block jquery %}
    $(".alert").hide()
    $("[id^=select-variation]").change(function(){
        var options=[]
        $("[id^=select-variation]").each(function(){
            if (this.value) options.push(this.value);
        });
        $.ajax({
            type: "GET",
            url: "?product={{ product.pk }}&options=" + options.toString(),
            success: function (response) {
                if (response.id) {
                    $("#price").text(response.price + "€");
                    $("#variation").val(response.id);
                }
            },
            error: function (response) {
              alert(response.status);
            }
        });
    });
    $("#add-cart").click(function(){
        var item = $("#variation").val();
        if (item == "") {
            alert("Izdelek ni na zalogi ali ne obstaja.")
            return false;
        }
        var qty = $("#qty").val();
        $.ajax({
            type: "GET",
            url: "{% url 'cart' %}?item=" + item + "&qty=" + qty,
            success: function (response) {
                $("#alert-message").text(response.message);
                $(".alert").show();
                window.setTimeout(function () { 
                    $(".alert").hide("slow"); }, 2000);
                $("#item-count").text(response.itemCount)
                $("#item-count").removeClass("invisible");
            },
            error: function (response) {
              alert(response.status);
            }
          });
    })
{% endblock jquery %}